*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
    color: cornsilk;
}
h2{
    padding-top: 15px;
    padding-bottom: 5px;
}
p{
    padding: 3px;
}
h3{
    padding: 10px;
}
ul, ol{
    padding: 5px;
    padding-bottom: 15px;
}
img{
    border-radius: 3%;
}
/*Main page*/
.header {
    /*Making a transparent color on top of the background image*/
    background-image: linear-gradient(rgba(4, 9, 30, 0.5),
    rgba(4,9,30,0.5)),url("/img/2019_cookingschool_shot01_030.jpg");
    min-height: 100vh;
    width: 100%;
    background-position: relative;
    background-size: cover;  
}
a:link {
    color: cornsilk;
}
a:visited {
    color: cyan;
}
.topic {
    text-align: center;
    margin-top: -500px;
    font-size: 32px;
    color: cornsilk;
}
.recipes {
    text-align: center;
    font-size: 25px;
    color: cornsilk;
}

/*Chicken Curry*/

.curry {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5),rgba(4,9,30,0.5));
    background-position: relative;
    background-size: cover;
    text-align: center;
    
}
.topic_c{
    font-size: 28px;
    color: cornsilk;
    padding-top: 15px;
    padding-bottom: 15px;
}